.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 100vw;
}

.navbarContainer {
    padding: 1.5rem;
    box-shadow: 5px 2px 15px #436260;
}

.sectionContainer {
    height: 15rem;
}

.introContainer {
    background: #80BBB7;
}

.skillsContainer {
    background: inherit;
}

.workContainer {
    background: linear-gradient(315deg, #968DAF 60%, #E7FCFF 60%);
    /* see if you can set it to 15rem but if height will adjust dynamically  */
    height: 30rem;
}

.projectContainer {
    background: linear-gradient(245deg, #4F716F 60%, #689592 60%);
    /* see if you can set it to 15rem but if height will adjust dynamically  */
    height: 30rem;
}

.connectContainer {
    background: #80BBB7;
}

@media only screen and (max-width: 576px) {
    .container {
        display: flex;
    }
}