.container {
    background: linear-gradient(188deg, #4F716F 60%, #689592 60%);
}

.projectsContainer {
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(12, 1fr)
}

.imageContainer {
    grid-area: 1 / 2 / 3 / 8;
}

.imageContainerFlipped {
    grid-area: 1 / 2 / 3 / 8;
}

.projectDetailsContainer {
    background: #80BBB7;
    z-index: 1;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    grid-area: 2 / 6 / 2 / 12;
    text-align: start;
}

.projectDetailsContainer h1 {
    display: none;
}

.projectDetailsContainerFlipped h1 {
    display: none;
}

.projectDetailsContainer p {
    margin: 0;
    font-size: 1.5rem;
}

.projectDetailsContainerFlipped p {
    margin: 0;
}

.projectTechnologiesInner {
    display: none;
}

.projectLinksInner {
    display: none;
}

.projectsHeader {
    text-align: center;
    padding: 2rem;
    font-size: 6rem;
    font-weight: bolder;
}

.projectImage {
    border-radius: 0.2rem;
}

.projectTitle {
    font-weight: bolder;
    z-index: 2;
    grid-area: 1 / 11 / 1 / 11;
    align-self: flex-end;
    margin: 0 0 1rem 0;
    height: 20%;
}

.projectTitleFlipped {
    font-weight: bolder;
    z-index: 2;
    grid-area: 1 / 1 / 1 / 12;
    align-self: flex-end;
    margin: 0 0 1rem 0;
    height: 20%;
}

.projectTechnologies {
    grid-area: 3 / 1 / 3 / 12;
    text-align: end;
    font-size: 1.5rem;
}

.projectTechnologiesFlipped {
    grid-area: 3 / 1 / 3 / 12;
    text-align: start;
    font-size: 1.5rem;
}

.projectLinks {
    grid-area: 3 / 11 / 3 / 11;
    text-align: end;
    height: 50%;
    align-self: center;
    font-size: 2rem;
    margin: 4rem 0 5rem 0;
}

.projectLinks:hover {
    opacity: 65%;
    color: #e3a6ff;
    text-decoration: none;
    transition: 0.3s;
}

.projectLinksFlipped {
    grid-area: 3 / 11 / 4 / 11;
    text-align: start;
    height: 50%;
    align-self: center;
    font-size: 2rem;
    margin: 4rem 0 5rem 0;
}

.projectLinksFlipped:hover {
    opacity: 65%;
    color: #e3a6ff;
    text-decoration: none;
    transition: 0.3s;
}

@media only screen and (max-width: 992px) {
    .projectDetailsContainer {
        grid-area: 2 / 3 / 2 / 12;
        padding: 0 1rem 1rem 1rem;
    }

    .projectDetailsContainerFlipped {
        grid-area: 2 / 3 / 2 / 12;
    }

    .imageContainer {
        grid-area: 1 / 2 / 3 / 10;
    }

    .imageContainerFlipped {
        grid-area: 1 / 2 / 3 / 9;
    }

    .projectTechnologies {
        grid-area: 3 / 1 / 3 / 12;
    }
}

@media only screen and (max-width: 768px) {
    .projectsHeader {
        font-size: 5rem;
        padding: 0;
    }

    .projectsContainer {
        grid-template-rows: repeat(2, 1fr);
        padding: 0 0 2rem 0;
    }

    .imageContainer {
        display: flex;
        grid-area: 1 / 2 / 3 / 12;
        background: peachpuff;
        border-radius: 5px;
    }

    .imageContainerFlipped {
        display: flex;
        grid-area: 1 / 2 / 3 / 12;
        background: peachpuff;
        border-radius: 5px;
    }

    .projectImage {
        opacity: 75%;
        filter: grayscale(50%) contrast(1) brightness(50%);
        filter: blur(1.5px);
        object-fit: cover;
        object-position: left;
    }

    .projectDetailsContainer {
        background: rgb(80, 153, 148, 60%);
        grid-area: 1 / 2 / 3 / 12;
        height: 100%;
        text-align: center;
    }

    .projectDetailsContainerFlipped {
        background: rgb(80, 153, 148, 60%);
        grid-area: 1 / 2 / 3 / 12;
        height: 100%;
        text-align: center;
    }

    .projectDetailsContainer h1 {
        display: block;
        font-weight: bolder;
        padding: 1rem 0 0 0;
    }

    .projectDetailsContainerFlipped h1 {
        display: block;
        font-weight: bolder;
        padding: 1rem 0 0 0;
    }

    .projectDetailsContainer {
        padding: 0 2rem 0 2rem;
        text-align: start;
    }

    .projectDetailsContainerFlipped {
        padding: 0 2rem 0 2rem;
        text-align: start;
    }

    .projectDetails {
        padding: 0.5rem 0 0.5rem 0;
        font-weight: 900;
    }

    .projectTechnologiesInner {
        display: block;
        font-weight: bold;
    }

    .projectLinksInner {
        display: block;
        font-size: 2rem;
        padding: 1rem 0 1rem 0;
    }

    .projectLinksInner:hover {
        opacity: 65%;
        color: #683f7a;
        text-decoration: none;
        transition: 0.3s;
    }

    .projectTitle {
        display: none;
    }

    .projectTechnologies {
        display: none;
    }

    .projectTechnologiesFlipped {
        display: none;
    }

    .projectLinks {
        display: none;
    }

    .projectLinksFlipped {
        display: none;
    }

    .projectTitleFlipped {
        display: none;
    }
}