html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #689592;
  color: white;
  
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

* {
  box-sizing: border-box;
}

a {
  color: lavender;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  height: 250px;
  width: 250px;
  display: block;
}

/* navbar styling */
#navbarAltBrand {
    font-size: 24px;
    font-weight: bolder;
    padding: 0 1rem 0 1rem;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

#navbarNavAltMarkup a {
    font-size: 18px;
    padding: 0 1rem 0 1rem;
}

#navbarNavAltMarkup .currentPage {
    color: white;
}