.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.lightText {
    opacity: 60%;
}

.noBulletPoints {
    list-style-type: none;
}

.mirrored {
    transform: scaleX(-1);
}

.marginBottom {
    margin: 0 0 2rem 0;
}

.transitionButton {
    transition: 0.3s;
}
